header{
    position: relative;
    width: 100vw;
    height: 13vh;
    background-color:rgb(217, 217, 217);
}
#btnExit{
    position: absolute;
    top: 0;
    right: 1vh;
    bottom: 0;
    margin: auto;
}
section{
    position: relative;
}
.div-01{
    position: absolute;
    top:5vh;
    width: fit-content;
    height: fit-content;
    left: 4vw;
}
.div-01>ul>li>button{
    width: 11vw;
    height: 4vh;
    font-size: 1.0em;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border: black 2px solid;
    color: black;
    text-align: center;
}
#customer{
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: transparent;
}
#item{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: transparent;
}
#view{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: transparent;
}
#placeOrder{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
}
h1{
    position: absolute;
    margin: auto;
    top: 14vh;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    font-size: 3em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.div-02{
    position: absolute;
    width: 100vw;
    height: fit-content;
    left: 0;
    right: 0;
    top: 30vh;
}
.div-02>input{
    position: absolute;
    width: 50vw;
    height: 6.5vh;
    right: 30vw;
    margin: auto;
}
#btnSearch{
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 23vw;
    margin: auto;
}
#btnSearch:hover{
    background-color: rgb(99, 255, 138);
    border-color: rgb(99, 255, 138);
    color: black;
}
table{
    position: absolute;
    top: 41vh;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid black;
    width: 70vw;
    height: 5vh;
}
th{
    width: 30vw;
    height: 10vh;
    border: black 2px solid;
    text-align: center;
}
td{
    width: 30vw;
    text-align: center;
    height: 10vh;
    border: black 1px solid;

}
#btnUpdate,#btDelete{
    width: fit-content;
    height: 5vh;
}
#btnUpdate:hover,#btDelete:hover{
    background-color: rgb(99, 255, 138);
    border-color: rgb(99, 255, 138);
    color: black;
}
#btnExit:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#btnAdd{
    position: absolute;
    width: 6vw;
    top: 30vh;
    height: 6.8vh;
    right: 14vw;
    margin: auto;
    font-size: 1.3em;
}
#btnAdd:hover{
    background-color: rgb(99, 255, 138);
    border-color: rgb(99, 255, 138);
    color: black;
}
