#dash-body{
    overflow: hidden;
}
header{
    position: relative;
    width: 100vw;
    height: 13vh;
    background-color:rgb(217, 217, 217);
}
#dash-btnExit{
    position: absolute;
    top: 0;
    right: 1vh;
    bottom: 0;
    margin: auto;
}
#dash-btnExit:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#dash-background{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}
#dash-title{
    position: absolute;
    margin: auto;
    top: 9vh;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    font-size: 4em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
#dash-div-01{
    position: absolute;
    top: 40vh;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}
#dash-btnCustomer{
    margin-right: 10vw;
}
#dash-btnItems{
    margin-right: 10vw;
}
#dash-btnView{
    margin-right: 10vw;
}


#dash-btnCustomer:hover,#div-02>label{
    box-shadow: rgb(49, 184, 249) 0px 22px 70px 10px;
}
#dash-btnItems:hover{
    box-shadow: rgb(49, 184, 249) 0px 22px 70px 10px;
}
#dash-btnView:hover{
    box-shadow: rgb(49, 184, 249) 0px 22px 70px 10px;
}
#dash-btnPlaceOrder:hover{
    box-shadow: rgb(49, 184, 249) 0px 22px 70px 10px;
}
#dash-logo{
    position: absolute;
    top: 4vh;
    left: 2vw;
}
#dash-group{
    position: relative;
}
