header{
    position: relative;
    width: 100vw;
    height: 13vh;
    background-color:rgb(217, 217, 217);
}
#btnExit{
    position: absolute;
    top: 0;
    right: 1vh;
    bottom: 0;
    margin: auto;
}