header{
    position: relative;
    width: 100vw;
    height: 13vh;
    background-color:rgb(217, 217, 217);
}
#btnExit{
    position: absolute;
    top: 0;
    right: 1vh;
    bottom: 0;
    margin: auto;
}
section{
    position: relative;
}
.div-01{
    position: absolute;
    top:5vh;
    width: fit-content;
    height: fit-content;
    left: 4vw;
}
.div-01>span>form{
    display: inline;
    margin: -2px;
}
.div-01>span>form>button{
    width: 11vw;
    height: 4vh;
    font-size: 1.0em;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border: black 2px solid;
    color: black;
    text-align: center;
}
.div-01>span>form>button:hover{
    color: rgb(32, 154, 237);
}

#customer{
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: transparent;
}
#item{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: transparent;
}
#view{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: transparent;
}
#placeOrder{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    color: white;
    background: rgb(32, 154, 237);
    border-color: rgb(32, 154, 237);
}
h1{
    position: absolute;
    margin: auto;
    top: 14vh;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    font-size: 3em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.div-02{
    position: absolute;
    border: solid black 1px;
    width: 30vw;
    height: 36VH;
    top: 27vh;
    left: 10vw;
    text-align: center;
    border-radius: 10px;
}
.div-03{
    position: absolute;
    width: fit-content;
    height: fit-content;
    text-align: center;
    top: 4.7vh;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: auto;
}
#h5{
    position: absolute;
    width: 14vw;
    height: fit-content;
    left: 7.5vw;
    top: -2vh;
    margin: auto;
    background-color:rgb(13, 110, 253) ;
    color: white;
    border-radius: 10px;
}

.div-02>label{
    width: 20vw;
    height: fit-content;
    top: 27vh;
}
.inp-01,.inp-02,.inp-03,.inp-04,.inp-05,.inp-06{
    width: 18vw;
    height: fit-content;
    top: 27vh;
}
.div-03>label{
    position: absolute;
    left: 0;
    height: fit-content;
    width: fit-content;
}
.div-04{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    position: absolute;
    width: 44vw;
    height: 36VH;
    border: black solid 1px;
    right: 10vw;
    top: 27vh;
    border-radius: 10px;
}
.lab-01{
    margin-top: 5vh;
}
.lab-01,.lab-02,.lab-03,.inp-04,.inp-05,.inp-06{
    margin-left:2vw;
}
.div-05{
    width: fit-content;
    height: fit-content;
}
.div-06{
  position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;
    right: 0;
    margin-right: 2vw;
}
#h5-02,#h5-03{
    position: absolute;
    width: 14vw;
    height: fit-content;
    text-align: center;
    top: -2vh;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(13, 110, 253);
    color: white;
    border-radius: 10px;
}
#btnClear,#btnAdd{
    margin-left: 3vw;
    margin-top: 1vh;
}
#btnAdd{
    width:79px;
    height:47px;
    font-size: 18px;
}
#btnClear:hover,#btnAdd:hover,#btnPurchase:hover{
    background-color: rgb(99, 255, 138);
    border-color: rgb(99, 255, 138);
    color: black;
}
#model-div,#model-div1{
    text-align: center;
    top: 3vh;
    width: fit-content;
    height: fit-content;
    margin: auto;
}
#h1-02,#h1-03{
    position: absolute;
    top:0;
    margin-top: 2vh;
}

#div-07{
    position: absolute;
    top: 67vh;
    width: 80vw;
    height: 18vh;
    margin-left:10vw;
    border: black 1px solid;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
#div-10{
    position: absolute;
    width: 1vw;
    height: 1vh;
    left: 0;
    bottom: 13vh;
    margin: auto;

}
#div-11{
    position: absolute;
    width: 1vw;
    height: 1vh;
    left: 10vw;
    bottom: 13vh;
    margin: auto;

}

#div-12{
    position: absolute;
    width: 1vw;
    height: 1vh;
    left: 20vw;
    bottom: 13vh;
    margin: auto;
}

#div-13{
    position: absolute;
    width: 1vw;
    height: 1vh;
    left: 30vw;
    bottom: 13vh;
    margin: auto;
}
.inp-10,.lab-10{
    width: 15vw;
    margin-left: 3vw;
}
.inp-11,.lab-11{
    width: 15vw;
    margin-left: 13vw;
}
.inp-12,.lab-12{
    width: 15vw;
    margin-left: 23vw;
}
.inp-13,.lab-13{
    width: 15vw;
    margin-left: 33vw;
}
#btnAdd-02{
    position: absolute;
    right: 4vw;
    bottom: 1vh;
    height: 4.5vh;
    width:10vw;

}
#btnAdd-02:hover{
    background-color: rgb(99, 255, 138);
    border-color: rgb(99, 255, 138);
    color: black;
}
#logo{
    position: absolute;
    top: 4vh;
    left: 2vw;
}
#btnExit:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#btnPurchase{
    position: absolute;
    right: 5vw;
    bottom: 1vh;
}
