#placeOrder-header{
    position: relative;
    width: 100vw;
    height: 13vh;
    background-color:rgb(217, 217, 217);
}
#placeOrder-btnExit{
    position: absolute;
    top: 0;
    right: 1vh;
    bottom: 0;
    margin: auto;
}
#placeOrder-section{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.placeOrder-div-01{
    position: absolute;
    top:5vh;
    width: fit-content;
    height: fit-content;
    left: 4vw;
}
.placeOrder-div-01>span>form{
    display: inline;
    margin: -2px;
}
.placeOrder-div-01>span>form>button{
    width: 11vw;
    height: 4vh;
    font-size: 1.0em;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border: black 2px solid;
    color: black;
    text-align: center;
}
.placeOrder-div-01>span>form>button:hover{
    color: rgb(32, 154, 237);
}

#placeOrder-customer{
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: transparent;
}
#placeOrder-item{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: transparent;
}
#placeOrder-view{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: transparent;
}
#placeOrder-placeOrder{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    color: white;
    background: rgb(32, 154, 237);
    border-color: rgb(32, 154, 237);
}
#placeOrder-title{
    position: absolute;
    margin: auto;
    top: 14vh;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    font-size: 3em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.placeOrder-div-02{
    position: absolute;
    border: solid black 1px;
    width: 30vw;
    height: 44VH;
    top: 27vh;
    left: 10vw;
    text-align: center;
    border-radius: 10px;
}
.placeOrder-div-03{
    position: absolute;
    width: fit-content;
    height: fit-content;
    text-align: center;
    top: 4.7vh;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: auto;
}
#placeOrder-sub-title-01{
    position: absolute;
    width: 14vw;
    height: fit-content;
    left: 7.5vw;
    top: -2vh;
    margin: auto;
    background-color:rgb(13, 110, 253) ;
    color: white;
    border-radius: 10px;
}

/*.div-02>label{*/
/*    width: 20vw;*/
/*    height: fit-content;*/
/*    top: 27vh;*/
/*}*/
.placeOrder-inp,.placeOrder-inp-01,.placeOrder-inp-02,.placeOrder-inp-03,.placeOrder-inp-04,.placeOrder-inp-05,.placeOrder-inp-06{
    width: 18vw;
    height: fit-content;
    top: 27vh;
}
.placeOrder-div-03>label{
    position: absolute;
    left: 0;
    height: fit-content;
    width: fit-content;
}
.placeOrder-div-04{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    position: absolute;
    width: 21vw;
    height: 44VH;
    border: black solid 1px;
    right: 35vw;
    top: 27vh;
    border-radius: 10px;
}
.placeOrder-lab-01{
    margin-top: 5vh;
}
.placeOrder-lab-01,.placeOrder-lab-02,.placeOrder-lab-03,.placeOrder-inp-04,.placeOrder-inp-05,.placeOrder-inp-06{
    margin-left:2vw;
}
.placeOrder-div-05{
    width: fit-content;
    height: fit-content;
}
.placeOrder-div-06{
  position: absolute;
    width: fit-content;
    height: fit-content;
    top: 5vh;
    right: 0;
    margin-right: 2vw;
}
.placeOrder-div-06>label{
    margin-left:2vw;
}
.placeOrder-div-06>input{
    width: 18vw;
    height: fit-content;
    top: 27vh;
}
#placeOrder-sub-title-02,#placeOrder-sub-title-03{
    position: absolute;
    width: 14vw;
    height: fit-content;
    text-align: center;
    top: -2vh;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(13, 110, 253);
    color: white;
    border-radius: 10px;
}
#placeOrder-btnAdd{
   width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
#placeOrder-btnAdd{
    width:79px;
    height:47px;
    font-size: 18px;
}
#placeOrder-btnClear:hover,#placeOrder-btnAdd:hover,#placeOrder-btnPurchase:hover{
    background-color: rgb(99, 255, 138);
    border-color: rgb(99, 255, 138);
    color: black;
}
#placeOrder-btnRemove{
    background-color: rgb(253, 86, 86);
    border-color: rgb(253, 86, 86);
    color: #ffffff;
}
#placeOrder-btnRemove:hover{
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    color: #ffffff;
}
#placeOrder-model-div,#placeOrder-model-div1{
    text-align: center;
    top: 3vh;
    width: fit-content;
    height: fit-content;
    margin: auto;
}
#placeOrder-h1-02,#placeOrder-h1-03{
    position: absolute;
    top:0;
    margin-top: 2vh;
}
.placeOrder-div-40{
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#placeOrder-div-07{
    position: absolute;
    top: 27vh;
    width: 20vw;
    height: 52vh;
    right: 10vw;
    border: black 1px solid;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
/*#placeOrder-div-10{*/
/*    position: absolute;*/
/*    width: 1vw;*/
/*    height: 1vh;*/
/*    left: 0;*/
/*    bottom: 13vh;*/
/*    margin: auto;*/

/*}*/
/*#placeOrder-div-11{*/
/*    position: absolute;*/
/*    width: 1vw;*/
/*    height: 1vh;*/
/*    left: 10vw;*/
/*    bottom: 13vh;*/
/*    margin: auto;*/

/*}*/

/*#placeOrder-div-12{*/
/*    position: absolute;*/
/*    width: 1vw;*/
/*    height: 1vh;*/
/*    left: 20vw;*/
/*    bottom: 13vh;*/
/*    margin: auto;*/
/*}*/

/*#placeOrder-div-13{*/
/*    position: absolute;*/
/*    width: 1vw;*/
/*    height: 1vh;*/
/*    left: 30vw;*/
/*    bottom: 13vh;*/
/*    margin: auto;*/
/*}*/
/*.placeOrder-inp-10,.placeOrder-lab-10{*/
/*    width: 15vw;*/
/*    margin-left: 3vw;*/
/*}*/
/*.placeOrder-inp-11,.placeOrder-lab-11{*/
/*    width: 15vw;*/
/*    margin-left: 13vw;*/
/*}*/
/*.placeOrder-inp-12,.placeOrder-lab-12{*/
/*    width: 15vw;*/
/*    margin-left: 23vw;*/
/*}*/
/*.placeOrder-inp-13,.placeOrder-lab-13{*/
/*    width: 15vw;*/
/*    margin-left: 33vw;*/
/*}*/
/*#btnAdd-02{*/
/*    position: absolute;*/
/*    right: 4vw;*/
/*    bottom: 1vh;*/
/*    height: 4.5vh;*/
/*    width:10vw;*/

/*}*/
/*#btnAdd-02:hover{*/
/*    background-color: rgb(99, 255, 138);*/
/*    border-color: rgb(99, 255, 138);*/
/*    color: black;*/
/*}*/
#placeOrder-logo{
    position: absolute;
    top: 4vh;
    left: 2vw;
}
#placeOrder-btnExit:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#btn-group{
   width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 1vh;
}
/*#placeOrder-btnPurchase{*/
/*    width: fit-content;*/
/*    height: fit-content;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    left: 0;*/
/*    bottom: 1vh;*/
/*    margin: auto;*/
/*}*/
/*#placeOrder-btnRemove{*/
/*    width: fit-content;*/
/*    height: fit-content;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    left: 0;*/
/*    bottom: 1vh;*/
/*    margin: auto;*/
/*}*/
#placeOrder-group{
    position: relative;
}
