#viewOrder-group{
    position: relative;
}
#viewOrder-header{
    position: relative;
    width: 100vw;
    height: 13vh;
    background-color:rgb(217, 217, 217);
}
#viewOrder-btnExit{
    position: absolute;
    top: 0;
    right: 1vh;
    bottom: 0;
    margin: auto;
}
#viewOrder-section{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.viewOrder-div-01{
    position: absolute;
    top:5vh;
    width: fit-content;
    height: fit-content;
    left: 4vw;
}
.viewOrder-div-01>span>form{
    display: inline;
    margin: -2px;
}
.viewOrder-div-01>span>form>button{
    width: 11vw;
    height: 4vh;
    font-size: 1.0em;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border: black 2px solid;
    color: black;
    text-align: center;
}
.viewOrder-div-01>span>form>button:hover{
    color: rgb(32, 154, 237);
}

#viewOrder-customer{
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: transparent;
}
#viewOrder-item{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: transparent;
}
#viewOrder-view{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: transparent;
    color: white;
    background: rgb(32, 154, 237);
    border-color: rgb(32, 154, 237);
}
#viewOrder-placeOrder{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
}
#viewOrder-title{
    position: absolute;
    margin: auto;
    top: 14vh;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    font-size: 3em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.viewOrder-div-02{
    position: absolute;
    width: 100vw;
    height: fit-content;
    left: 0;
    right: 0;
    top: 30vh;
}
.viewOrder-div-02>input{
    position: absolute;
    width: 50vw;
    height: 6.5vh;
    right: 30vw;
    margin: auto;
}
#viewOrder-btnSearch{
    position: absolute;
    width: 10vw;
    height: 7.0vh;
    right: 17vw;
    margin: auto;
}
#viewOrder-btnSearch:hover{
    background-color: rgb(99, 255, 138);
    border-color: rgb(99, 255, 138);
    color: black;
}
#viewOrder-table{
    position: absolute;
    top: 41vh;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid black;
    width: 70vw;
    height: 5vh;
}
#viewOrder-table>thead>tr>th{
    width: 30vw;
    height: 10vh;
    border: black 2px solid;
    text-align: center;
}
#viewOrder-table>tbody>tr>td{
    color: black;
    width: 30vw;
    text-align: center;
    height: 10vh;
    border: black 1px solid;

}
#viewOrder-logo{
    position: absolute;
    top: 4vh;
    left: 2vw;
}
#viewOrder-btnExit:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}